#root {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
  /* background-color: #3c3f51; */
  background-color: white;
  /* height: 100vh; */
 } 

/* App.css */
/* .App {
  text-align: center;
  margin: 20px;
  font-family: Arial, sans-serif;
  width: auto;
}  */
