#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* App.css */
.App {
  text-align: center;
  margin: 20px;
  font-family: Arial, sans-serif;
}

h1 {
  color: #333;
}

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.form-group {
  width: 45%;
  margin: 10px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #555;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

button {
  background-color: #007BFF;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

/* Media query for responsiveness */
@media (max-width: 768px) {
  .form-group {
    width: 100%;
  }
}
