/* .healthinfo {
  text-align: center;
} */

.healthinfo-table {
  text-align: center;
  margin: 20px;
  font-family: Arial, sans-serif;
  width: auto;
  /* background-color: #ffffff; */
}

/* App.css */
.FormData {
  text-align: center;
  margin: 20px;
  font-family: Arial, sans-serif;
}

h1 {
  color: #333;
}

.form-group {
  width: 30%;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  align-items: center;
}

/* Adjust the overall form layout */
form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; /* This will space out your form groups */
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #555;
}

/* Same width for input and select elements */
input, select {
  width: 75%; /* Reduced width */
  max-width: 250px; /* Max width for larger screens */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}
 

/* Media query for responsiveness */
@media (max-width: 768px) {
  .form-group {
    width: 100%;
  }
  input, select, button {
    width: 90%; /* Increase width for smaller screens */
  }
} 

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center; /* Center buttons horizontally */
  align-items: center;
  margin: 10px;
  gap: 20px; /* Add space between buttons */
}